*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}
nav{
    display: flex;
    margin-bottom: 10vh;
    width: 100%;
}
.menu{
    display: flex;
    width:50%;
    padding: 0.5rem;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    
}
.menu i{
    padding: 0.5vw;
}

.menu2 i{
    padding: 0.5vw;
}
.menu img{
    width: 56px;
}
.menu2{
    display: flex;
    padding: 0.5rem;
    gap: 2vw;
    width: 50%;
    align-items: center;
    justify-content: end;
    
}
.menu2 img{
    width: 24px;
    padding: 0.5rem;
}
.item_menu{
    display: flex;
    align-items: center;
    
}
#imgs_formulario{
    display: flex;
    align-items: center;
    max-width: 100vw;
    gap: 6vw;
}
.perfis{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    margin-left: 3vw;
    gap: 1vw;
    max-width: 50vw;
    width: 40vw;
}
.img_perfil{
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px rgb(58, 218, 58);
}
form{
    max-width: 50vw;
    max-height: 70vh;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 22vw;
    padding: 2vw;
    background-color: rgb(243, 239, 232);
}
.form-pt1{
    display: flex;
}

.form_inputs{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw 1vh 0 ;
    gap: 1vh;
    max-width: 35vw;
    align-content: flex-start;
}
.form_inputs input{
    border-radius: 5px;
    padding: 0.3rem;
}
.img_qrcode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw;
}
.img_qrcode p{
    text-align: center;
}
.img_qrcode img{
    width: 60px;
    height: 60px;
}
form p{
    font-size: x-small;
    text-align: justify;
}
form span{
    color: rgba(133,220,198,255);
}
.text_form{
    margin: 1vh 0;
}
.caixa_aceite{
    display: flex;
}
.caixa_aceite p{
    padding: 0.5vw;
}
form input[type="button"]{
    width: 8vw;
    height: 5vh;
    font-weight: bold;
    background-color: rgb(209, 209, 209);
    color: rgba(194,194,194,255);
    border-radius: 5px;
    padding: 4px;
    margin-top: 2vh;
    border: none;
}

