*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
nav{
    display: flex;
    margin-bottom: 10vh;
    width: 100%;
}
.menu{
    display: flex;
    width:50%;
    padding: 0.5rem;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    
}
.menu i{
    padding: 0.5vw;
}

.menu2 i{
    padding: 0.5vw;
}
.menu img{
    width: 56px;
}
.menu2{
    display: flex;
    padding: 0.5rem;
    gap: 2vw;
    width: 50%;
    align-items: center;
    justify-content: end;
    
}
.menu2 img{
    width: 24px;
    padding: 0.5rem;
}
.item_menu{
    display: flex;
    align-items: center;
    
}
#imgs_formulario{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.perfis{
    display: flex;
    align-items: center;
    padding: 2vw;
    gap: 1vw;
}
.img_perfil{
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px rgb(58, 218, 58);
}
form{
    max-width: 40vw;
    max-height: 70vh;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 22vw;
    padding: 2vw;
    background-color: rgb(243, 239, 232);
}
.form-pt1{
    display: flex;
}

.form_inputs{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw 1vh 0 ;
    gap: 1vh;
    max-width: 35vw;
    align-content: flex-start;
}
.form_inputs input{
    border-radius: 5px;
    padding: 0.3rem;
}
.img_qrcode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw;
}
.img_qrcode img{
    width: 60px;
    height: 60px;
}

